
.container-fluid {
	padding: 0;
	overflow: hidden;

}

.row {
	width: 100%;
	margin: 0;
	overflow: hidden;
}



/*--------Navigation style starts here---------*/

.nav {
	padding-top: 15px;
}

.navbar {
	background-color: white;
}

.nav li {
	font-family: Montserrat, sans-serif;
	font-size: .75em;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

.nav .center {
	display: inline-block;
	float: none;
	text-align: center;
}

.nav .text-left {
	padding-left: 65px;
}

.nav a{
	color: slategrey;
}

.nav a:hover {
	color: orangered;
	text-decoration: none;
}

.nav .text-right {
	padding-right: 65px;
}


/*--------Day 1 starts here---------*/


/*--------Day 5 starts here---------*/

#entry .content {
	
	background-color: #BDD6D3;
	padding: 15rem 0 12rem 0;
}


#entry h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 7px;
	color: gainsboro;
	font-weight: 700;
	background-image: linear-gradient(to bottom, transparent 0%, transparent 45%, #DCDCDC 45%, #DCDCDC 55%, transparent 55%, transparent 100%);
}


#entry .filler {
	background-color: #34869E;
}

#hosted {
	padding-left: 12px;
}
